# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python Environment Folder
*.venv

# SQLite Generated Database Folder
*instance

# Environment File
.env

# Mac clutters
.DS_Store

/uploads