{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="content">
    <divs style="max-width: 600px; text-align: center; position: relative;">
        <h1>About Us</h1>
        <p style="padding-top: 20px;">
            Welcome to the "About Us" page, where the story of our collaborative endeavor unfolds. We are a passionate
            team
            of four individuals who joined forces to bring the "MemoryMastermind" to life. Hailing from the
            prestigious 'R.D.S College Muz.' under the umbrella of B.R.A.B.U, our shared academic journey paved the way
            for a shared vision of innovation.
        </p>
        <div>
            <h2 style="padding: 30px 0px 10px 0px;">Meet the minds behind the project</h2>
            <p>Shubham Kumar</p>
            <p>Ritu Raj</p>
            <p>Surendra Kumar</p>
            <p>Ravi Kumar</p>
        </div>
</div>

</div>
{% endblock %}