{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-box">
        <div class="login">
            <h2>Change Password</h2>
            <form method="post">
                {% if error_messages and error_messages.error %}
                <div class="error-message">{{ error_messages.error }}</div>
                {% endif %}
                <div class="input-box">
                    <!-- <span class="icon"><img src="password.png" /></span> -->
                    <input type="password" name="password1" required />
                    <label>Password</label>
                </div>
                {% if error_messages and error_messages.password1 %}
                <p class="input-error">{{ error_messages.password1 }}</p>
                {% endif %}
                <div class="input-box">
                    <!-- <span class="icon"><img src="password.png" /></span> -->
                    <input type="password" name="password2" required />
                    <label>Confirm Password</label>
                </div>
                {% if error_messages and error_messages.password2 %}
                <p class="input-error">{{ error_messages.password2 }}</p>
                {% endif %}
                <button type="submit" class="submit-button">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}