<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% if 'error_messages' %}
        {{ error_messages }}
    {% endif %}
    <form method="post">
        <input type="password" placeholder="Password", name="password1">
        <input type="password" placeholder="Confirm Password", name="password2">
        <input type="submit">
    </form>
</head>
<body>
    
</body>
</html>