{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="content">
    <divs style="max-width: 600px; text-align: center; position: relative;">
        <h1>Contact</h1>
        <p style="padding-top: 20px;">
            Your feedback and inquiries are important to us! If you have any questions, suggestions, or just want to
            reach out, feel free to get in touch with us. You can contact us by sending an email to <a
                href="mailto:shubhamkumar101100@gmail.com">mailto:shubhamkumar101100@gmail.com</a>.
        </p><br>
        <p>We
            value your input and look forward to hearing from you. Whether it's about the "Memory Recall Challenge" or
            anything else, your communication is highly appreciated. We're here to ensure your experience is as
            enjoyable and seamless as possible. Don't hesitate to reach out we're just an email away!
        </p>
</div>

</div>
{% endblock %}