{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-box">
        <div class="login">
            <h2>Login</h2>
            <form method="post">
                {% if error_messages and error_messages.error %}
                <div class="error-message">{{ error_messages.error }}</div>
                {% endif %}
                <div class="input-box">
                    <!-- <span class="icon"><img src="email.png" /></span> -->
                    <input type="email" name="email" required />
                    <label>Email</label>
                </div>
                {% if error_messages and error_messages.email %}
                <p class="input-error">{{ error_messages.email }}</p>
                {% endif %}
                <div class="input-box">
                    <!-- <span class="icon"><img src="password.png" /></span> -->
                    <input type="password" name="password" required />
                    <label>Password</label>
                </div>
                {% if error_messages and error_messages.password %}
                <p class="input-error">{{ error_messages.password }}</p>
                {% endif %}
                <div class="forget-password-text">
                    <a href="{{ url_for('route.forget_password') }}">Forget Password?</a>
                </div>
                <button type="submit" class="submit-button">Log in</button>
            </form>
            <form method="post">
                <input type="submit" class="submit-button-outline" value="Guest Login" , name="skip-login">
            </form>
            <div class="login-register-link">
                <p>
                    Don't have an account
                    <a href="{{ url_for('route.register') }}">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}